In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
import pickle
import yellowbrick
from sklearn.metrics import confusion_matrix

In [13]:
# df = pd.read_csv("/content/drive/MyDrive/Ai data/spam_or_not_spam2.csv")

In [14]:
df = pd.read_csv("C:/Users/Window10Pro/Desktop/dataset/ham_spam.csv")

In [15]:
df

                                                    Text  Spam
0      Subject: txu noms . for 10 / 14 - 16 / 00 atta...     0
1      Subject: re : nom / actual vols for 24 th - - ...     0
2      Subject: hpl noms for february 15 ; 2000 ( see...     0
3      Subject: fw : pooling contract template - - - ...     0
4      Subject: hpl nom . for may 26 - 29 ; 2001 ( se...     0
...                                                  ...   ...
33711  Subject: you are our lucky winner ! ! de natio...     1
33712  Subject: i ' m a changed man dear sir / madam ...     1
33713  Subject: just to her . . . soft viagra at $ 1 ...     1
33714  Subject: save your money by getting an oem sof...     1
33715  Subject: new product ! cialis soft tabs . hi t...     1

[33716 rows x 2 columns]

                                                    Text  Spam
0      Subject: txu noms . for 10 / 14 - 16 / 00 atta...     0
1      Subject: re : nom / actual vols for 24 th - - ...     0
2      Subject: hpl noms for february 15 ; 2000 ( see...     0
3      Subject: fw : pooling contract template - - - ...     0
4      Subject: hpl nom . for may 26 - 29 ; 2001 ( se...     0
...                                                  ...   ...
33711  Subject: you are our lucky winner ! ! de natio...     1
33712  Subject: i ' m a changed man dear sir / madam ...     1
33713  Subject: just to her . . . soft viagra at $ 1 ...     1
33714  Subject: save your money by getting an oem sof...     1
33715  Subject: new product ! cialis soft tabs . hi t...     1

[33716 rows x 2 columns]

In [16]:
df.drop_duplicates(inplace = True)
df = df.dropna()
print(df["Spam"].value_counts())
df.head()

0    15635
1    14579
Name: Spam, dtype: int64
0    15635
1    14579
Name: Spam, dtype: int64

                                                Text  Spam
0  Subject: txu noms . for 10 / 14 - 16 / 00 atta...     0
1  Subject: re : nom / actual vols for 24 th - - ...     0
2  Subject: hpl noms for february 15 ; 2000 ( see...     0
3  Subject: fw : pooling contract template - - - ...     0
4  Subject: hpl nom . for may 26 - 29 ; 2001 ( se...     0

                                                Text  Spam
0  Subject: txu noms . for 10 / 14 - 16 / 00 atta...     0
1  Subject: re : nom / actual vols for 24 th - - ...     0
2  Subject: hpl noms for february 15 ; 2000 ( see...     0
3  Subject: fw : pooling contract template - - - ...     0
4  Subject: hpl nom . for may 26 - 29 ; 2001 ( se...     0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30214 entries, 0 to 33715
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    30214 non-null  object
 1   Spam    30214 non-null  int64
dtypes: int64(1), object(1)
memory usage: 708.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30214 entries, 0 to 33715
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    30214 non-null  object
 1   Spam    30214 non-null  int64
dtypes: int64(1), object(1)
memory usage: 708.1+ KB

#clean data that is not 1 and 0 in Spam

In [18]:
dfclean = df.drop(df[(df['Spam'] != 0 ) & (df['Spam'] != 1)].index)
print(dfclean["Spam"].value_counts())
dfclean.head()

0    15635
1    14579
Name: Spam, dtype: int64

                                                Text  Spam
0  Subject: txu noms . for 10 / 14 - 16 / 00 atta...     0
1  Subject: re : nom / actual vols for 24 th - - ...     0
2  Subject: hpl noms for february 15 ; 2000 ( see...     0
3  Subject: fw : pooling contract template - - - ...     0
4  Subject: hpl nom . for may 26 - 29 ; 2001 ( se...     0

0    15635
1    14579
Name: Spam, dtype: int64

                                                Text  Spam
0  Subject: txu noms . for 10 / 14 - 16 / 00 atta...     0
1  Subject: re : nom / actual vols for 24 th - - ...     0
2  Subject: hpl noms for february 15 ; 2000 ( see...     0
3  Subject: fw : pooling contract template - - - ...     0
4  Subject: hpl nom . for may 26 - 29 ; 2001 ( se...     0

In [19]:
dfclean['Text'][0]

'Subject: txu noms . for 10 / 14 - 16 / 00 attached ; please find the txu nominations for the weekend of october 14 - 16 ; 2000 . no scheduled flows ( see attached file : hplnl 014 . xls ) - hplnl 014 . xls'

'Subject: txu noms . for 10 / 14 - 16 / 00 attached ; please find the txu nominations for the weekend of october 14 - 16 ; 2000 . no scheduled flows ( see attached file : hplnl 014 . xls ) - hplnl 014 . xls'

In [20]:
X = dfclean['Text']
y = dfclean['Spam'].astype(int)

change from countvectorizer to tf-idf vectorizer

https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html

In [21]:
vectorizer = TfidfTransformer()

In [22]:
cv = CountVectorizer(stop_words='english')

In [23]:
X = cv.fit_transform(X)

In [24]:
X = vectorizer.fit_transform(X)

#plot the data

In [25]:
#plt.scatter(X[:, 0], X[:, 1], c=y, cmap=plt.cm.coolwarm)

In [26]:
# X_test = cv.transform(X_test)

#train_test split

In [27]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=0)

In [28]:
#from yellowbrick.text import TSNEVisualizer
#from sklearn.feature_extraction.text import TfidfVectorizer

# vec = TfidfVectorizer(stop_words="english")
# transformed_text = vec.fit_transform(text)

#fig = plt.figure(figsize=(9,9))
#ax = fig.add_subplot(111)

#tsne_viz = TSNEVisualizer(ax=ax,
#                          decompose="svd",
#                          decompose_by=50,
#                          colors=["tomato", "lime"],
#                          random_state=123)

#tsne_viz.fit(X_train.toarray(), y_train)

#tsne_viz.show();

In [29]:
# X_train = cv.fit_transform(X_train)

In [30]:
# print(X_train)

#training

In [31]:
classifier = SVC(kernel = 'linear',C=0.1, random_state = 0)
classifier.fit(X_train, y_train)
print(classifier.score(X_test,y_test))

0.9798113519774946
0.9798113519774946

In [32]:
y_pred = classifier.predict(X_test)
f1_score(y_test,y_pred)

0.9795370680979536

0.9795370680979536

In [33]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.96      0.98      3117
           1       0.96      1.00      0.98      2926

    accuracy                           0.98      6043
   macro avg       0.98      0.98      0.98      6043
weighted avg       0.98      0.98      0.98      6043

              precision    recall  f1-score   support

           0       1.00      0.96      0.98      3117
           1       0.96      1.00      0.98      2926

    accuracy                           0.98      6043
   macro avg       0.98      0.98      0.98      6043
weighted avg       0.98      0.98      0.98      6043

Try cross validation

In [34]:
scores = cross_val_score(classifier, X, y, cv=10)
print (scores)

[0.98444739 0.9457313  0.97584381 0.96856386 0.97881496 0.97815293
 0.97947699 0.96954651 0.95134062 0.94769944]
[0.98444739 0.9457313  0.97584381 0.96856386 0.97881496 0.97815293
 0.97947699 0.96954651 0.95134062 0.94769944]

In [ ]:
from sklearn.model_selection import GridSearchCV
 
param_grid = {'C': [0.01, 0.1, 1, 10, 100],'kernel': ['linear']}
 
grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3)
pickle.dump(classifier, open("model.sav", 'wb'))
grid.fit(X_train, y_train)

In [ ]:

# print best parameter after tuning
print(grid.best_params_)
 
# print how our model looks after hyper-parameter tuning
print(grid.best_estimator_)

In [ ]:
y_pred = classifier.predict(X_test)
f1_score(y_test,y_pred)

In [ ]:
#test new data set
df2 = pd.read_csv("C:/Users/Window10Pro/Desktop/dataset/spam.csv")
df2.drop_duplicates(inplace = True)
print(df2["Spam"].value_counts())
df2.head()

In [ ]:
def binary_map(x):
  return x.map({"spam":1, "ham":0})
df2[['Spam']] = df2[['Spam']].apply(binary_map)
print(df2['Spam'].unique())
df2.head()

In [ ]:
df2.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis = 1, inplace = True)
df2.head()

In [ ]:
X2 = df2['text']
y2 = df2['Spam']
X_test2 = cv.transform(X2)
X_test2 = vectorizer.transform(X_test2)
y_pred2 = classifier.predict(X_test2)

In [ ]:
f1_score(y2,y_pred2)

In [ ]:
confusion_matrix(y2, y_pred2)

In [ ]:
accuracy_score(y2,y_pred2)

In [ ]:
print(classification_report(y2, y_pred2))

In [ ]:
data = {'text':X2,'pred': y_pred2,'correct': y2}
output = pd.DataFrame(data)
print(output)
output.to_csv('output.csv')

In [ ]:
test_df = pd.read_csv("C:/Users/Window10Pro/Desktop/dataset/spam_ham_dataset.csv")

In [ ]:
test_df.info()

In [ ]:
test_df.head()

In [ ]:
x3 = test_df['text']
y3 = test_df['Spam']

In [ ]:
x3_test = cv.transform(x3)
x3_test = vectorizer.transform(x3_test)
y3_pred = classifier.predict(x3_test)

In [ ]:

f1_score(y3,y3_pred)

In [ ]:
accuracy_score(y3,y3_pred)

In [ ]:
data = {'text':x3,'pred': y3_pred,'correct': y3}
output = pd.DataFrame(data)
print(output)
output.to_csv('output.csv')

In [ ]:
confusion_matrix(y3, y3_pred)

In [ ]:
tn, fp, fn, tp = confusion_matrix(y3, y3_pred).ravel()

In [ ]:
print(tn, fp, fn, tp)

In [ ]:
fp = pd.read_csv("C:/Users/Window10Pro/Desktop/dataset/output.csv")

In [ ]:
for i in fp[(fp['pred'] == 1 ) & (fp['correct'] == 0)]['text']:
    print(i)

In [35]:
len(cv.get_feature_names_out())

157241

157241