This generation use TFIDF Vectorizer for the cleaning process DF2 is SMS dataset(not in the scope of project)

In [40]:
#from google.colab import drive
#drive.mount('/content/drive')

In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
import pickle
import yellowbrick
from sklearn.metrics import confusion_matrix

In [42]:
# df = pd.read_csv("/content/drive/MyDrive/Ai data/spam_or_not_spam2.csv")

In [43]:
df = pd.read_csv("C:/Users/Window10Pro/Desktop/dataset/ham_spam.csv")

In [44]:
df

                                                    Text  Spam
0      Subject: txu noms . for 10 / 14 - 16 / 00 atta...     0
1      Subject: re : nom / actual vols for 24 th - - ...     0
2      Subject: hpl noms for february 15 ; 2000 ( see...     0
3      Subject: fw : pooling contract template - - - ...     0
4      Subject: hpl nom . for may 26 - 29 ; 2001 ( se...     0
...                                                  ...   ...
33711  Subject: you are our lucky winner ! ! de natio...     1
33712  Subject: i ' m a changed man dear sir / madam ...     1
33713  Subject: just to her . . . soft viagra at $ 1 ...     1
33714  Subject: save your money by getting an oem sof...     1
33715  Subject: new product ! cialis soft tabs . hi t...     1

[33716 rows x 2 columns]

In [45]:
df.drop_duplicates(inplace = True)
df = df.dropna()
print(df["Spam"].value_counts())
df.head()

0    15635
1    14579
Name: Spam, dtype: int64

                                                Text  Spam
0  Subject: txu noms . for 10 / 14 - 16 / 00 atta...     0
1  Subject: re : nom / actual vols for 24 th - - ...     0
2  Subject: hpl noms for february 15 ; 2000 ( see...     0
3  Subject: fw : pooling contract template - - - ...     0
4  Subject: hpl nom . for may 26 - 29 ; 2001 ( se...     0

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30214 entries, 0 to 33715
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    30214 non-null  object
 1   Spam    30214 non-null  int64
dtypes: int64(1), object(1)
memory usage: 708.1+ KB

#clean data that is not 1 and 0 in Spam

In [47]:
dfclean = df.drop(df[(df['Spam'] != 0 ) & (df['Spam'] != 1)].index)
print(dfclean["Spam"].value_counts())
dfclean.head()

0    15635
1    14579
Name: Spam, dtype: int64

                                                Text  Spam
0  Subject: txu noms . for 10 / 14 - 16 / 00 atta...     0
1  Subject: re : nom / actual vols for 24 th - - ...     0
2  Subject: hpl noms for february 15 ; 2000 ( see...     0
3  Subject: fw : pooling contract template - - - ...     0
4  Subject: hpl nom . for may 26 - 29 ; 2001 ( se...     0

In [48]:
dfclean['Text'][0]

'Subject: txu noms . for 10 / 14 - 16 / 00 attached ; please find the txu nominations for the weekend of october 14 - 16 ; 2000 . no scheduled flows ( see attached file : hplnl 014 . xls ) - hplnl 014 . xls'

In [49]:
X = dfclean['Text']
y = dfclean['Spam'].astype(int)

change from countvectorizer to tf-idf vectorizer

https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html

In [50]:
vectorizer = TfidfTransformer()

In [51]:
cv = CountVectorizer(stop_words='english')

In [52]:
X = cv.fit_transform(X)

In [53]:
X = vectorizer.fit_transform(X)

#plot the data

In [54]:
#plt.scatter(X[:, 0], X[:, 1], c=y, cmap=plt.cm.coolwarm)

In [55]:
# X_test = cv.transform(X_test)

#train_test split

In [56]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=0)

In [57]:
#from yellowbrick.text import TSNEVisualizer
#from sklearn.feature_extraction.text import TfidfVectorizer

# vec = TfidfVectorizer(stop_words="english")
# transformed_text = vec.fit_transform(text)

#fig = plt.figure(figsize=(9,9))
#ax = fig.add_subplot(111)

#tsne_viz = TSNEVisualizer(ax=ax,
#                          decompose="svd",
#                          decompose_by=50,
#                          colors=["tomato", "lime"],
#                          random_state=123)

#tsne_viz.fit(X_train.toarray(), y_train)

#tsne_viz.show();

In [58]:
# X_train = cv.fit_transform(X_train)

In [59]:
# print(X_train)

#training

In [60]:
classifier = SVC(kernel = 'linear',C=0.1, random_state = 0)
classifier.fit(X_train, y_train)
print(classifier.score(X_test,y_test))

0.9798113519774946

In [61]:
y_pred = classifier.predict(X_test)
f1_score(y_test,y_pred)

0.9795370680979536

In [62]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.96      0.98      3117
           1       0.96      1.00      0.98      2926

    accuracy                           0.98      6043
   macro avg       0.98      0.98      0.98      6043
weighted avg       0.98      0.98      0.98      6043

Try cross validation

In [63]:
scores = cross_val_score(classifier, X, y, cv=10)
print (scores)

[0.98444739 0.9457313  0.97584381 0.96856386 0.97881496 0.97815293
 0.97947699 0.96954651 0.95134062 0.94769944]

In [ ]:
from sklearn.model_selection import GridSearchCV
 
param_grid = {'C': [0.01, 0.1, 1, 10, 100],'kernel': ['linear']}
 
grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3)
pickle.dump(classifier, open("model.sav", 'wb'))
grid.fit(X_train, y_train)

In [ ]:

# print best parameter after tuning
print(grid.best_params_)
 
# print how our model looks after hyper-parameter tuning
print(grid.best_estimator_)

In [18]:
y_pred = classifier.predict(X_test)
f1_score(y_test,y_pred)

0.9795370680979536

In [19]:
#test new data set
df2 = pd.read_csv("C:/Users/Window10Pro/Desktop/dataset/spam.csv")
df2.drop_duplicates(inplace = True)
print(df2["Spam"].value_counts())
df2.head()

ham     4516
spam     653
Name: Spam, dtype: int64

,Spam,text,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [20]:
def binary_map(x):
  return x.map({"spam":1, "ham":0})
df2[['Spam']] = df2[['Spam']].apply(binary_map)
print(df2['Spam'].unique())
df2.head()

[0 1]

,Spam,text,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,0,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,0,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,0,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [21]:
df2.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis = 1, inplace = True)
df2.head()

   Spam                                               text
0     0  Go until jurong point, crazy.. Available only ...
1     0                      Ok lar... Joking wif u oni...
2     1  Free entry in 2 a wkly comp to win FA Cup fina...
3     0  U dun say so early hor... U c already then say...
4     0  Nah I don't think he goes to usf, he lives aro...

In [23]:
X2 = df2['text']
y2 = df2['Spam']
X_test2 = cv.transform(X2)
X_test2 = vectorizer.transform(X_test2)
y_pred2 = classifier.predict(X_test2)

In [24]:
f1_score(y2,y_pred2)

0.23113964686998398

In [25]:
confusion_matrix(y2, y_pred2)

array([[ 210, 4306],
       [   5,  648]], dtype=int64)

In [26]:
accuracy_score(y2,y_pred2)

0.16598955310504934

In [27]:
print(classification_report(y2, y_pred2))

              precision    recall  f1-score   support

           0       0.98      0.05      0.09      4516
           1       0.13      0.99      0.23       653

    accuracy                           0.17      5169
   macro avg       0.55      0.52      0.16      5169
weighted avg       0.87      0.17      0.11      5169

In [28]:
data = {'text':X2,'pred': y_pred2,'correct': y2}
output = pd.DataFrame(data)
print(output)
output.to_csv('output.csv')

                                                   text  pred  correct
0     Go until jurong point, crazy.. Available only ...     1        0
1                         Ok lar... Joking wif u oni...     1        0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1        1
3     U dun say so early hor... U c already then say...     1        0
4     Nah I don't think he goes to usf, he lives aro...     1        0
...                                                 ...   ...      ...
5567  This is the 2nd time we have tried 2 contact u...     1        1
5568              Will ÃŒ_ b going to esplanade fr home?     1        0
5569  Pity, * was in mood for that. So...any other s...     1        0
5570  The guy did some bitching but I acted like i'd...     1        0
5571                         Rofl. Its true to its name     1        0

[5169 rows x 3 columns]

In [29]:
test_df = pd.read_csv("C:/Users/Window10Pro/Desktop/dataset/spam_ham_dataset.csv")

In [30]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5171 non-null   object
 1   Spam    5171 non-null   int64
dtypes: int64(1), object(1)
memory usage: 80.9+ KB

In [31]:
test_df.head()

                                                text  Spam
0  Subject: enron methanol ; meter # : 988291\r\n...     0
1  Subject: hpl nom for january 9 , 2001\r\n( see...     0
2  Subject: neon retreat\r\nho ho ho , we ' re ar...     0
3  Subject: photoshop , windows , office . cheap ...     1
4  Subject: re : indian springs\r\nthis deal is t...     0

In [32]:
x3 = test_df['text']
y3 = test_df['Spam']

In [33]:
x3_test = cv.transform(x3)
x3_test = vectorizer.transform(x3_test)
y3_pred = classifier.predict(x3_test)

In [34]:

f1_score(y3,y3_pred)

0.9432759719566604

In [35]:
accuracy_score(y3,y3_pred)

0.9655772577837942

In [36]:
data = {'text':x3,'pred': y3_pred,'correct': y3}
output = pd.DataFrame(data)
print(output)
output.to_csv('output.csv')

                                                   text  pred  correct
0     Subject: enron methanol ; meter # : 988291\r\n...     0        0
1     Subject: hpl nom for january 9 , 2001\r\n( see...     0        0
2     Subject: neon retreat\r\nho ho ho , we ' re ar...     0        0
3     Subject: photoshop , windows , office . cheap ...     1        1
4     Subject: re : indian springs\r\nthis deal is t...     0        0
...                                                 ...   ...      ...
5166  Subject: put the 10 on the ft\r\nthe transport...     0        0
5167  Subject: 3 / 4 / 2000 and following noms\r\nhp...     0        0
5168  Subject: calpine daily gas nomination\r\n>\r\n...     0        0
5169  Subject: industrial worksheets for august 2000...     0        0
5170  Subject: important online banking alert\r\ndea...     1        1

[5171 rows x 3 columns]

In [37]:
confusion_matrix(y3, y3_pred)

array([[3513,  159],
       [  19, 1480]], dtype=int64)

In [38]:
tn, fp, fn, tp = confusion_matrix(y3, y3_pred).ravel()

In [39]:
print(tn, fp, fn, tp)

3513 159 19 1480

In [ ]:
fp = pd.read_csv("C:/Users/Window10Pro/Desktop/dataset/output.csv")

In [ ]:
for i in fp[(fp['pred'] == 1 ) & (fp['correct'] == 0)]['text']:
    print(i)

In [65]:
len(cv.get_feature_names_out())

157241